body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4d5ae5;
}

button {
    cursor: pointer;
}

.icon {
    fill: #F4F4FD;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
.container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: none;
}
.contacts {
        display: none;
    }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-transform: uppercase;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
.burger-btn {
  display: none;
    }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
                 .header-nav {
                     display: flex;
                     align-items: center;
                 }
                .header-logo {
                    padding: 24px 0;
                    margin-right: 120px;
                }
        .nav-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .nav-link.current {
            position: relative;
        }
    
        .nav-link.current::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
            height: 4px;
    
        }
                .nav-link:hover,
                .nav-link:focus,
                .nav-link.current {
                    color: #404bbf;
                }
                .contacts-list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
                .contacts {
                    font-style: normal;
                    display: block;
                }
                .contacts-link:hover,
                .contacts-link:focus {
                    color: #404bbf;
                }
                 .contacts-link {
                     font-size: 12px;
                     line-height: 1.17;
                     letter-spacing: 0.04em;
                     color: #434455;
                     display: block;
                     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                 }
       
}

@media screen and (min-width: 1158px) {
.header-logo {
        margin-right: 76px;
    }
        .contacts-list {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
                .contacts-link {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    padding: 24px 0;
                }
}
/* Mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-icon-close {
    fill:#200404;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.mobile-menu-clouse {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        stroke-width: 1px;
        fill: #2e2f42;
        background-color: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
}

.mobile-menu-close:hover .modal-close-icone,
.mobile-menu-close:focus .modal-close-icone {
    fill: #FFFFFF;
}
.mobile-menu-nav {
margin-bottom: auto;
}
.mobile-list-menu {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.mobile-llink-studio {
    color: #404bbf;
}
.mobile-link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts {
    font-style: normal;
    display: block;
    width: 193px;
    margin-bottom: 48px;
}
.mobile-address-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-tel {
    color: #4d5ae5;
}

.mobile-link-menu:hover,
.mobile-link-menu:focus,
.mobile-address-link:hover,
.mobile-address-link:focus {
    color: #404bbf;
}
.icon-item a.icon-link {
display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
    display: flex;
        justify-content: center;
        gap: 40px;
        padding: 0;
        list-style: none;

}
@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}

/* first section */
.first-section {
min-width: 320px;
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    margin: 0 auto;
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 @media  screen and (max-width: 768px) {
    .first-section {
background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/first-section/Dark-bg-min.jpg 1x);
    
         padding: 112px 0; 
        max-width: 768px;}

 }
 @media screen and (min-width: 1158px) {
            .intro-section {
                padding: 188px 0;
                max-width: 1440px;
            }
    
        }
.title {
    display: block;
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    line-height: 1.11;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.button:hover::before,
.button:hover::after {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }
        .title {
                max-width: 496px;
                    font-size: 56px;
                    line-height: 1.07;
                    margin-bottom: 36px;
        }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;

    }
        .button {
            margin-bottom: 188px;
        }
                 .title {
                    margin-top: 118px;
                 }
}
/* second section */
.second-section {
    padding: 96px 0;
}
.second-list-description {
    flex-direction: column;
        gap: 72px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
}
.second-list-text {
    width: 100%;
}
.list-item-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.list-item-text {
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}
.second-icon-block {
    display: none;
}
.second-section-title {
    display: none;
}
@media screen and (min-width: 768px) {
    .second-list-description {
       
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
    }
    .second-list-text {
        flex-basis: calc((100% - 24px) / 2);
    }
    .list-item-title {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
            text-align: start;
    }
    .list-item-text {
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
    }
}
@media screen and (min-width: 1158px) {
    .second-section {
            padding: 120px 0;
        }
                .second-section-title {
                    font-size: 20px;
                    line-height: 1.2;
                   
                }
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
        .second-list-text {
            flex-basis: calc((100% - 3*24px)/4);
        }
    
        .second-icon-block {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }
        .list-item-title {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 8px;
        }
    
        .list-item-text {
            font-weight: 400;
        }
}

/* third secrion */
.our-team-section {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.third-section-title {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
}
.team-item {
        background-color: #FFFFFF;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
.team-member-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.team-member-role {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
            margin-bottom: 8px;
}
.desctription-co-workers {
            padding-top: 32px;
            padding-bottom: 32px;
}
.team-card-content-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    text-align: center;
     justify-content: center;
}
.team-card-content-block-soclinks {
    width: 40px;
        height: 40px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circle:hover,
.circle:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .our-team-container {
            max-width: 584px;
        }
        .team-list {
            flex-direction: row;
                flex-wrap: wrap;
                row-gap: 64px;
                column-gap: 24px;
        }
        .team-item {
            width: calc((100% - 24px) / 2);
        }
}
@media screen and (min-width: 1158px) {
.our-team-container {
    max-width: 1152px;
    }
 .our-team-section {
    padding: 120px 0;
        }
  .team-item {
    flex-basis: calc((100% - 3*24px)/4);
                 }
 .team-list {
    display: flex;
    gap: 24px
    }
    }

    /* fourth section */
        .fourth-section {
            padding: 96px 0;
        }
        .section-portfolio {
                font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-align: center;
                    text-transform: capitalize;
                    color: #2e2f42;
                    margin-bottom: 72px;
        }
        .portfolio-card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                row-gap: 48px;
        }
        .portfolio-card-list {
            width: 100%;
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                min-width: 288px;
                position: relative;
        }

         .portfolio-card-list:hover .portfolio-item-text {
                transform: translateY(0);
            }
         .portfolio-card-list:hover {
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
                }
        .portfolio-item-text {
            position: absolute;
            top: 0;
            background-color: #4d5ae5;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            height: 100%;
            transform: translateY(100%);
            transition: transform 300ms ease;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .description-portfolio {
                    border: 1px solid #e7e9fc;
                    border-top: none;
                    background: #fff;
                    padding: 32px 16px;
                }
    .fourth-section-title {
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                margin-bottom: 8px;
            
    }
        .fourth-section-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
           
        }
    .portfolio-item-picture-wrap {
            position: relative;
            overflow: hidden;
    }
        @media screen and (min-width: 768px) {
            .fourth {
                min-width: 768px;
            }
            .portfolio-card {
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 24px;
                row-gap: 72px;
            }
            .portfolio-card-list {
                width: calc((100% - 24px) / 2);

            }
            .description-portfolio {
                width: auto;
            }
        }
        @media screen and (min-width: 1158px) {
            .fourth {
                    min-width: 1158px;
                }
            .portfolio-card-list {
            width: calc((100% - 48px) / 3);
            
         }
              .fourth-section {
            padding: 120x 0;
        }
                 .portfolio-card {
                     row-gap: 48px;
                 }
        
        }
        /* Footer */
        .footer {
        background-color: #2E2F42;
        padding: 96px 0;
        }
         .footer .container {
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin: 0 auto;
            
         }
         .text-block {
             margin-bottom: 72px;
         }
         .footer-logo {
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 1.17;
                 letter-spacing: 0.03em;
                 text-transform: uppercase;
                 color: #4D5AE5;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin: auto;
                 margin-bottom: 16px;
                
         }
           .footer-logo .logo-part {
               color: #f4f4fd;
               line-height: 1.17;
           }
           .footer-text {
                max-width: 264px;
                 font-weight: 400;
                 font-size: 16px;
                 line-height: 1.5;
                 letter-spacing: 0.02em;
                 color: #f4f4fd;
           }
           .footer-socmedia {
             margin-bottom: 72px;
           }
           .social-media {
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
           }
           .footer-socmedia-block {
             display: flex;
             gap: 16px;
            justify-content: center;
            align-items: center;
           }
         .footer-socmedia-block-soclinks {
          width: 40px;
          height: 40px;
         }
          a.circle {
             display: flex;
             justify-content: center;
             align-items: center;
            width: 100%;
            height: 100%;
             background-color: #4d5ae5;
             border-radius: 50%;
             transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
        
         .footer-socmedia-block-soclinks a.circle:hover,
         .footer-socmedia-block-soclinks a.circle:focus {
             background-color: #31D0AA;
        
         }
         .footer-form {
             display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
               
         }
  .footer-email {
    margin-bottom: 16px;
  }
    .footer__subscribe-text {
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
    }
    .footer-input {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        background-color: transparent;
        padding-left: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        opacity: 0.3;
    }
.footer-input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        width: 36px;
        height: 24px;
        opacity: 0.6;
}
.footer-btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.subscribe-btn-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
    background: #404bbf;
}

.footer-btn-subscribe:hover::before,
.footer-btn-subscribe:hover::after {
    background-color: #404BBF;
}
 @media screen and (min-width: 768px) {
    .footer .container {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-items: normal;
         max-width: 768px;
         margin-left: 108px;
        }
        .text-block {
            margin-right: 24px;
        }
        .footer-logo,
        .social-media,
        .footer__subscribe-text {
            justify-content: flex-start;
        }
        .footer-logo {
            justify-content: flex-start;
        }
        .footer-form {
            flex-direction: row;
        }
         .footer-input {
             width: 264px;
        } 
}
 @media screen and (min-width: 1158px) { 
.footer .container {
    align-items: flex-start;
    min-width: 1158px;
    padding-left: 15px;
 }
 .text-block {
    margin-right: 120px;
 }
 .footer-form {
    flex-direction: row;
     gap: 24px;
    justify-content: flex-start;
    align-items: center;
 }
 .footer-socmedia-block {
    justify-content: flex-start;
    margin-bottom: 0;
 }
 .footer-form-container {
     margin-left: 80px;
 }
}
/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    transform: translate(-50%, -50%);
    min-height: 623px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
  .modal-btn-close {
      position: absolute;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 24px;
      top: 24px;
      padding: 0;
      border-radius: 50%;
      background-color: #e7e9fc;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
        .modal-btn-close:hover,
        .modal-btn-close:focus {
            background-color: #404bbf;
            border: none;
            fill: #FFFFFF;
        }
    
        .modal-btn-icon {
            fill: #2e2f42;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
  .modal-btn-close:hover .modal-btn-icon,
  .modal-btn-close:focus .modal-btn-icon {
      fill: #fff;
  }
   .modal-text {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 16px;
       max-width: 360px;
   }
   .modal-field {
       margin-bottom: 8px;
   }
   .modal-input {
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
       width: 100%;
       height: 40px;
       background-color: transparent;
       padding-left: 38px;
       outline: transparent;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-input:focus {
       border-color: #4d5ae5;
   }

   .modal-input:focus+.modal-icon {
       fill: #4d5ae5;
   }
     .modal-icon {
         position: absolute;
         left: 16px;
         top: 50%;
         transform: translateY(-50%);
         fill: #2e2f42;
         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
         .modal-input-wpar {
             position: relative;
         }
.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}
.modal-comend-wrap {
    margin-bottom: 16px;
}
.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-checkbox {
    margin-bottom: 24px;
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.accept-text {
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.accept:checked+.accept-text .accept-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.accept-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
}
.accept-checkbox-icon {
    fill: #f4f4fd;
}

.accept:checked+.user-privacy .accept-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}
.button-submit {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover {
    background-color: #404BBF;
}

.button-submit:focus {
    background-color: #404BBF;
}

.button-submit:hover::before,
.button-submit:focus::after {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }
}